.LogEntryComponent{
    display: grid;
    margin: 5px;
    grid-template-columns: 10% 23% auto;
}

.divGridColumn
{
    margin: 0;
    margin-left: 0px;
    overflow-wrap: break-word;
}

.divGridColumnCenterText{
    text-align: center;
}