.divDeviceStatusError{
    background-color: red;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: auto;
}

.divDeviceStatusSuccess {
    background-color: green;
}

.divDeviceComponent{
    display: grid;
    grid-template-columns: 10% auto;
    background-color: gray;
    margin: 15px;
    border-radius: 15px;
}

.divDeviceComponent p{
    text-align: left;
    vertical-align: middle;
    font-size: x-large;
}

.divDeviceActions{
    display: grid;
    grid-column: span 2;
    margin: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}